@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {margin: 0; padding: 0;}
ul,li{list-style: none;}
h2,a,p{text-decoration: none; color: black;}
img{display: block; border: 0;}